<div class="row">
	<div class="col-3">
		<ul class="nav flex-column">
			<li class="nav-item"><%= link_to "アカウント", account_path, class: 'sidebar-link' %></li>
			<li class="nav-item"><%= link_to "プロフィール", current_user, class: 'sidebar-link active' %></li>
		</ul>
	</div>
	<div class="col-md-6 col-md-offset-3" >
		<%= form_with(model: @user, local: true) do |f| %>
			<div class="center field">
				<h2>プロフィール</h2>
			</div>
			<%= render 'shared/error_messages', object: f.object %>
			<div class="field">
				<%= user_avatar %>
			</div>
			<div class="field">
				<%= f.label :アイコン画像 %>
				<%= f.file_field :avatar%>
			</div>
			<div class="field">
				<%= f.label :名前 %>
				<%= f.text_field :name, class: 'form-control' %>
			</div>
			<div class="field">
				<%= f.label :自己紹介 %>
				<%= f.text_area :description, class: 'form-control' , placeholder: "自己紹介を入力してください"%>
			</div>
			<div class="field">
				<%= f.submit "更新", class: "btn btn-primary form-control" %>
			</div>
		<% end%>
	</div>
</div>
