<h3>登録済みルーム一覧</h3>

	<table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
			<%= form_with(model: @room, local: true) do |f| %>

				<% @rooms.each do |room| %>
					<tr>
						<td><%= image_tag room.room_image, :size => '100x100' %></td>
						<td><%= room.name %></td>
						<td><%= room.introduction %></td>
						<td><%= number_to_currency( room.price, unit: "¥", format: "%u %n" ) %></td>
						<td><%= room.created_at.to_s(:datetime_ymd_jp)  %></td>
						<td><%= link_to "編集", [:edit, room]%></td>
						<td><%= link_to "削除", room, method: :delete, data: {confirm:"本当に削除しますか？"}%></td>
					</tr>
				<% end %>
			<% end%>
    </tbody>
  </table>

    <p><%= link_to "ルーム新規登録", :new_room %></p>
